body {
    margin:0;
}

nav {
    background-color: #DBEBF4;
    position: sticky;
    z-index:1;
    width: 100%;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
    padding: 0;
}


table, th, td {
    border: 1px solid;
    /* margin-top: 15px;
    margin-bottom: 10px; */
}

table, th {
    background-color: #021b2a;
    color:#FFFFFF;
    height: 40px;
    text-transform: uppercase;
    
} 

table, td {
    background-color: #FFFFFF;
    color:black;
    height: 20px;
    text-transform:none;

}

th, td {
    padding: 5px;
    border: 1px solid #ddd;
}

.center-align {
    text-align: center;
}


.button1 {
    background-color: #1c591e;
    border: none;
    text-align: center;
    text-decoration: none;
    padding: 8px 12px;
    color:#FFFFFF;
    display: inline-block;
    border-radius: 5px;
    font-size: 12px;
}

.button2 {
    background-color: #a21c15;
    border: none;
    text-align: center;
    text-decoration: none;
    padding: 8px 12px;
    color:#FFFFFF;
    display: inline-block;
    border-radius: 5px;
    font-size: 12px;
}

.button3 {
    background-color: #150d8f;
    border: none;
    text-align: center;
    text-decoration: none;
    padding: 8px 12px;
    color:#FFFFFF;
    display: inline-block;
    border-radius: 5px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.button4 {
    background-color: #150d8f;
    border: none;
    text-align: center;
    text-decoration: none;
    padding: 10px 15px;
    color:#FFFFFF;
    display: inline-block;
    border-radius: 5px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    margin-top: 20px;
    text-transform: uppercase;
}

form {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

input, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit]{
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #150d8f;
    color: white;
}

option {
    color: #545454;
}

img {
    max-width: 100%;
    height: auto;
    text-align: center;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

.aksi {
    width: 120px;
}


